body{
    margin: auto;
    scroll-behavior: smooth;
    background-color: springgreen;
}

h1{
    color:red;
    text-align:center;
}
.div1{
    margin:auto;
    width: 400px;
    padding: 10px;
    border: solid royalblue 5px;
    background-color: blueviolet;
}

.div2{
    margin:auto;
    width: 400px;
    padding: 10px;
    border: solid cyan 5px;
    background-color: violet;
}

button{
    background-color:snow;
    border: none;
    color:crimson;
}